{
  "presets": [
    ["env", {
      "targets": {
        "node": 6
      },
      "forceAllTransforms": true
    }]
  ],
  "plugins": [
    ["inline-import", {
      "extensions": [".gql", ".sql"]
    }],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
