{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": 8
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["babel-plugin-inline-import", {
      "extensions": [".gql", ".sql"]
    }],
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
